* {
    font-family: "JetBrainsMono Nerd Font", sans-serif;
    font-size: 13px;
    font-weight: bold;
    border: none;
    border-radius: 0;
}

window#waybar {
    background-color: #1c2024;
    color: #cbd5e1;
}

#workspaces button {
    padding: 0 8px;
    margin: 0;
    color: #4a5568;
    background: transparent;
    border-bottom: 2px solid transparent;
}
#workspaces button.active,
#workspaces button.focused {
    color: #cbd5e1;
    border-bottom: 2px solid #7e96bd;
}
#workspaces button:hover {
    color: #ffffff;
    border-bottom: 2px solid #94a3b8;
}

#window {
    padding-left: 12px;
    color: #94a3b8;
}

#cpu,
#memory,
#disk,
#network,
#power-profiles-daemon,
#battery,
#pulseaudio,
#custom-weather,
#custom-power,
#clock {
    padding: 0 12px;
    background-color: transparent;
    color: #cbd5e1;
}

#disk,
#cpu,
#memory,
#network,
#power-profiles-daemon,
#battery,
#custom-weather,
#clock.date,
#pulseaudio {
    border-right: 1px solid #2d3748;
}

#disk {
    border-left: 1px solid #2d3748;
}

#clock.date {
    padding-right: 10px;
}

#clock.time {
    padding-left: 4px;
}

#network.disconnected {
    color: #e0533c;
}

#battery.charging,
#battery.plugged {
    color: #fef08a;
}

#battery.critical:not(.charging) {
    color: #e0533c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon.performance { color: #e0533c; }
#power-profiles-daemon.balanced    { color: #7e96bd; }
#power-profiles-daemon.power-saver { color: #a7f3d0; }

#custom-power {
    color: #94a3b8;
    padding-right: 14px;
    padding-left: 10px;
}

@keyframes blink {
    to {
        color: #1c2024;
        background-color: #e0533c;
    }
}